<!DOCTYPE html>
<html lang="en" ng-app="emt" ng-controller="EMTController as emtCtrl">

<head>
    <meta charset="UTF-8">
    <title>Entity Master Tool</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="app.css" />
</head>

<body layout="em-body row">
    <md-sidenav md-component-id="left" class="site-sidenav md-sidenav-left md-whiteframe-z2" hide-print md-is-locked-open="$mdMedia('gt-sm')" ng-if="emtCtrl.isLogOn">
        <header class="nav-header">
            <a href="/" ng-href="/" class="em-logo">
                <img src="image/logo.png" alt width="150">
                <h1 class="em-logotype md-heading">
                    Entity Master Tools
                </h1>
            </a>
        </header>
        <md-content role="navigation" flex>
            <ul class="emt-menu">
                <li ng-repeat="section in emtCtrl.menu.sections" class="parent-list-item {{section.className || ''}}" ng-class="{'parentActive' : isSectionSelected(section)}">
                    <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
                      {{section.name}}
                    </h2>
                    <menu-link section="section" ng-if="section.type === 'link' && !section.hidden"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle' && !section.hidden"></menu-toggle>
                    <ul ng-if="section.children" class="menu-nested-list">
                        <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
                            <menu-link section="child" ng-if="child.type === 'link'"></menu-link>
                            <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
                        </li>
                    </ul>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <div layout="column" flex role="main">
        <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar" ng-if="emtCtrl.isLogOn">
            <div class="md-toolbar-tools em-toolbar-tools">
                <md-button class="md-icon-button md-primary" hide-gt-sm ng-click="emtCtrl.openMenu()" aria-label="Toggle Menu">
                    <md-icon md-svg-icon="image/icon/ic_menu_black_24px.svg"></md-icon>
                </md-button>
                <div layout="row" flex class="fill-height">
                    <h2 class="md-toolbar-item md-breadcrumb md-headline">
                        <span class="md-breadcrumb-page ng-binding" ng-bind="emtCtrl.pageName"></span>
                    </h2>
                    <span flex></span>
                    <div class="md-toolbar-item em-tools" layout="row">
                        <span>{{emtCtrl.uid}}</span>
                        <md-button class="md-raised md-primary" ng-click="emtCtrl.logOff()">注销</md-button>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-content md-scroll-y layout="column" flex ng-view>
        </md-content>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.module.js"></script>
    <script src="app.config.js"></script>
    <!-- <script src="common/component/titlebar/titlebar.component.js"></script> -->
    <script src="common/controller/emt.controller.js"></script>
    <script src="common/directive/menu-link/menu-link.directive.js"></script>
    <script src="common/directive/menu-toggle/menu-toggle.directive.js"></script>
    <script src="common/filter/emt.filter.js"></script>
    <script src="common/interceptor/session.interceptor.js"></script>
    <script src="common/service/auth.service.js"></script>
    <script src="common/service/menu.service.js"></script>
    <script src="common/service/session.service.js"></script>
    <script src="common/service/spi.service.js"></script>
    <script src="login/login.component.js"></script>
</body>

</html>
